{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- =====BOX ICONS===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <title>Portfolio website complete</title>
    <link rel="stylesheet" href="{% static 'index.css' %}" />


</head>

<body>
    <!--===== HEADER =====-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">SURAJ</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                    <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    <li class="nav__item"><a href="{% url 'admin:index' %}" class="nav__link">Admin</a></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home bd-grid" id="home">
            <div class="home__data">
                <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Suraj,</span><br>
                    Software-Engineer</h1>

                <a href="https://drive.google.com/file/d/1EQ2gARBQNr1dCARt9kII700zH2WGYCPc/view?usp=sharing"
                    class="button">DOWNLOAD RESUME</a>
            </div>

            <div class="home__social">
                <a href="https://www.linkedin.com/in/surajmahapatra036/" class="home__social-icon"><i
                        class='bx bxl-linkedin'></i></a>
                <!-- <a href="" class="home__social-icon"><i class='bx bxl-behance'></i></a> -->
                <a href="https://github.com/Suraj6542" class="home__social-icon"><i class='bx bxl-github'></i></a>
            </div>

            <div class="home__img">
                <svg class="home__blob" viewBox="0 0 479 467" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <mask id="mask0" mask-type="alpha">
                        <path
                            d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z" />
                    </mask>
                    <g mask="url(#mask0)">
                        <path
                            d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z" />
                        <image class="home__blob-img" x="50" y="60" href="{% static 'perfil.png' %}" />
                    </g>
                </svg>
            </div>
        </section>

        <!--===== ABOUT =====-->
        <section class="about section " id="about">
            <h2 class="section-title">About</h2>

            <div class="about__container bd-grid">
                <div class="about__img">
                    <img src="{% static 'about.jpg' %}" width="40%">
                </div>

                <div>
                    <h2 class="about__subtitle">I'am Suraj Mahapatra</h2>
                    <p class="about__text">I'm an ambitious Computer Science & Engineering student at Nalanda Institute
                        of Technology in Bhubaneswar, actively pursuing my BTech degree. Recently, I successfully
                        completed a compelling project centered around an IoT-based soil testing kit, showcasing my
                        proficiency in HTML, CSS, and Python.

                        As I navigate the evolving tech landscape, my focus has shifted towards web development,
                        particularly in the realm of Django and Python. Fueled by a passion for coding and
                        problem-solving, I envision myself as a future Django developer. Beyond technical skills, I take
                        pride in my effective communication and strong presentation abilities, cultivated through
                        diverse academic and project collaborations.

                        Currently interning at Startup Odisha for Startup Yatra, I am enthusiastic about contributing
                        both my technical expertise and soft skills to the dynamic world of the IT industry. Excited
                        about the journey ahead, I am eager to make meaningful contributions and continue growing in
                        this ever-evolving field.</p>
                </div>
                <div>
                    <h2 class="about__subtitle"> My Projects</h2>
                    <p class="about__text">• <b>Blog Application (Flask, HTML, CSS):</b> Developed a user-friendly blog
                        platform with seamless CRUD operations using Flask and HTML/CSS.<br>
                        • <b>Interview Question Scraper (Flask, Python, Beautiful Soup):</b> Extracted interview
                        questions
                        using Flask and Python, organized in MS Word format through Beautiful Soup and Requests.<br>
                        • <b>Video Downloader (YouTube, Instagram, Twitter):</b> Created an app with a user-friendly
                        interface,
                        wide format support, and offline access for flexible video consumption.<br>
                        •<b>ToDo List (Django, HTML, CSS):</b> Developed a user-friendly SINGLE-USER ToDo app with
                        seamless
                        CRUD
                        operations using Django and HTML/CSS.<br>
                        •<b>E-commerce-clone (Django, HTML, CSS):</b> Developed a user-friendly MULTI-USER e-commerce
                        app where
                        user
                        can Register/Login/Explore/Add-to-cart/Remove/Logout with flexible experience<br>
                        • <b>Soil Testing Kit (IoT):</b> Designed an instant soil nutrient measurement kit with
                        actionable
                        guidelines for better production.<br>
                        • <b>Analyzed E-Commerce sales data:</b> Created and interactive dashboard using Power-BI.

                    </p>
                </div>
            </div>
        </section>

        <!--===== SKILLS =====-->
        <section class="skills section" id="skills">
            <h2 class="section-title">Skills</h2>

            <div class="skills__container bd-grid">
                <div>
                    <h2 class="skills__subtitle">Profesional Skills</h2>
                    <p class="skills__text">With a repertoire spanning HTML, CSS, Python, SQL, and a dash of Java, I
                        navigate the digital realm with versatility. Crafting seamless web experiences is second nature,
                        thanks to my proficiency in front-end technologies, while my backend prowess in Python and SQL
                        ensures robust functionality. A touch of Java adds dynamism to my coding symphony.</p>
                    <div class="skills__data">
                        <div class="skills__names">
                            <!-- <i class='bx bxl-html5 skills__icon'></i> -->
                            <span class="skills__name">Python</span>
                        </div>
                        <div class="skills__bar skills__html">

                        </div>
                        <div>
                            <span class="skills__percentage">75%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <!-- <i class='bx bxl-css3 skills__icon'></i> -->
                            <span class="skills__name">SQL</span>
                        </div>
                        <div class="skills__bar skills__css">

                        </div>
                        <div>
                            <span class="skills__percentage">70%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <!-- <i class='bx bxl-javascript skills__icon'></i> -->
                            <span class="skills__name">Java</span>
                        </div>
                        <div class="skills__bar skills__js">

                        </div>
                        <div>
                            <span class="skills__percentage">70%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <!-- <i class='bx bxs-paint skills__icon'></i> -->
                            <span class="skills__name">HTML & CSS</span>
                        </div>
                        <div class="skills__bar skills__ux">

                        </div>
                        <div>
                            <span class="skills__percentage">70%</span>
                        </div>
                    </div>
                </div>

                <div>
                    <img src="{% static 'work3.jpg' %}" width="100%" alt="" class="skills__img">
                </div>
            </div>
        </section>

        <!--===== WORK =====-->
        <section class="work section" id="work">
            <h2 class="section-title">Work</h2>

            <div class="work__container bd-grid">
                <a href="" class="work__img">
                    <img src="{% static 'work1.jpg' %}" width="100%">
                </a>
                <a href="" class="work__img">
                    <img src="{% static 'work2.jpg' %}" width="100%">
                </a>
                <a href="" class="work__img">
                    <img src="{% static 'work3.jpg' %}" width="100%">
                </a>
                <a href="" class="work__img">
                    <img src="{% static 'work4.jpg' %}" width="100%">
                </a>
                <a href="" class="work__img">
                    <img src="{% static 'work5.jpg' %}" width="100%">
                </a>
                <a href="" class="work__img">
                    <img src="{% static 'work6.jpg' %}" width="100%">
                </a>
            </div>
        </section>

        <!--===== CONTACT =====-->
        <section class="contact section" id="contact">
            <h2 class="section-title">Contact</h2>

            <div class="contact__container bd-grid">
                <form action="{% url 'index' %}" method="post" class="contact__form">
                    <center>
                        {% csrf_token %}
                        Name:<input type="text" name="Name" class="contact__input">
                        Email:<input type="mail" name="Email" class="contact__input">
                        Message:<textarea name="Description" cols="0" rows="5" class="contact__input"></textarea>
                        <input type="submit" value="Submit" class="contact__button button">
                    </center>
                </form>
                {% if messages %}
                {% for msg in messages %}
                <marquee class="blink" width="60%" direction="left" height="100px">
                    <p>{{msg}}</p>
                </marquee>
                {% endfor %}
                {% endif %}

                <br><br>
                <p><b>Address Information</b></p>
                Chakradharpur, Jharkhand <br> <b>PIN-833102</b>
                <b>Phone: 6207952542</b><b>Mail:</b>
                <a href="mailto:surajmahapatra036@gmaiul.com">surajmahapatra036@gmail.com</a>
            </div>
        </section>
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer">
        <p class="footer__title">Suraj Mahapatra </p>
        <div class="footer__social">
            <!-- <a href="#" class="footer__icon"><i class='bx bxl-facebook'></i></a>  -->
            <a href="https://www.instagram.com/suraj_045__/" class="footer__icon"><i
                    class='bx bxl-instagram'></i></a><br>
            <!-- <a href="#" class="footer__icon"><i class='bx bxl-twitter'></i></a> -->

            <p class="footer__copy">&#169; Perceptron Insights. All rigths reserved</p>
        </div>



    </footer>


    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->

</body>

</html>